@model IEnumerable<Cantinho_Caseiro.Models.Reserva>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-xl-3 col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="avatar-sm mx-auto mb-4">
                        <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-16">
                            D
                        </span>
                    </div>
                    @Html.DisplayFor(modelItem => item.mesa)
                    <p class="text-muted">UI/UX Designer</p>

                    <div>
                        <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1">Photoshop</a>
                        <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1">illustrator</a>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-top">
                    <div class="contact-links d-flex font-size-20">
                        <div class="flex-fill">
                            <a href="javascript: void(0);"><i class="bx bx-message-square-dots"></i></a>
                        </div>
                        <div class="flex-fill">
                            <a href="javascript: void(0);"><i class="bx bx-pie-chart-alt"></i></a>
                        </div>
                        <div class="flex-fill">
                            <a href="javascript: void(0);"><i class="bx bx-user-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

