@{
    ViewBag.Title = "";
    ViewBag.pTitle = "Início";
    ViewBag.pageTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="pt-3">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div>
                                <div class="text-center">
                                    <div class="mb-4">
                                        <a href="https://www.google.com/search?q=cantinho%20caseiro&oq=cantinho+caseiro+&aqs=chrome..69i57j0i512j46i175i199i512j0i512j46i175i199i512j0i512j46i175i199i512j0i512l3.2511j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:9&tbm=lcl&rflfq=1&num=10&rldimm=17437082323234491876&lqi=ChBjYW50aW5obyBjYXNlaXJvSI-wiID9rICACFoaEAAQARgAGAEiEGNhbnRpbmhvIGNhc2Vpcm-SARxkb3duX2hvbWVfY29va2luZ19yZXN0YXVyYW50qgEYEAEqFCIQY2FudGluaG8gY2FzZWlybygM&phdesc=uw6fveUDk9A&ved=2ahUKEwie_pWmk9P4AhUhGLkGHWH1CEAQvS56BAgEEAE&sa=X&rlst=f#rlfi=hd:;si:17437082323234491876,l,ChBjYW50aW5obyBjYXNlaXJvSI-wiID9rICACFoaEAAQARgAGAEiEGNhbnRpbmhvIGNhc2Vpcm-SARxkb3duX2hvbWVfY29va2luZ19yZXN0YXVyYW50qgEYEAEqFCIQY2FudGluaG8gY2FzZWlybygM,y,uw6fveUDk9A;mv:[[-22.849487,-45.8925318],[-23.809579499999998,-47.161905]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3,lf:1" class="badge bg-light font-size-12">
                                            <i class="bx bx-purchase-tag-alt align-middle text-muted me-1"></i> Google
                                        </a>
                                    </div>
                                    <h4>Cantinho Caseiro</h4>
                                   
                                </div>

                                <hr>
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div>
                                                <p class="text-muted mb-2">Nome</p>
                                                <h5 class="font-size-15">Cantinho Caseiro</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Data</p>
                                                <h5 class="font-size-15"><script>document.write(new Date().getFullYear())</script></h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mt-4 mt-sm-0">
                                                <p class="text-muted mb-2">Proprietário</p>
                                                <h5 class="font-size-15">Marilda Buschini</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="my-5">
                                    <img src="~/assets/images/small/restaurante.png" alt="" class="img-thumbnail mx-auto d-block">
                                </div>

                                <hr>

                                <div class="mt-4">
                                    <div class="text-muted font-size-14">
                                        <p>Reconhecido como um dos melhores restaurantes da região.</p>

                                        <p class="mb-4">Fundado em 2002 por sua irmã Luiza o restaurante cantinho caseiro foi conhecido por muito tempo como Restaurante da Luiza, servindo refeições no local mas seu forte sempre foi o fornecimento de refeições as empresas da região , Como Engenharia do processo, Dynamic Air e lanches para outras comop Glassec Viracon e algumas empresas prestadoras de serviço da região.</p>


                                        <p>Após anos o ponto foi passado para sua irmã hoje proprietária do estabelimento, foram feitas diversas melhorias e o foco que antes eram as empresas foi alterado para Clientes comuns mas mantendo algumas empresas, reconhecido como melhor restaurante da região por uma revista especializada sua proprietária sempre em busca de melhorias esta preparando um espaço totalmente novo para melhor atender seus clientes com a qualidade de sempre.</p>


                                        <div class="mt-4">
                                            <h5 class="mb-3">Diferenciais: </h5>

                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Reconhecido como melhor restaurante da região</li>
                                                                <li class="py-1">Nota 4,5 no Google</li>
                                                                <li class="py-1">Vários feedbacks positivos</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <ul class="ps-4">
                                                                <li class="py-1">Comida caseira fresca de qualidade com melhor preço da região</li>
                                                                <li class="py-1">Ambiente limpo , organizado com ótimo atendimento.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr>

                                    <div class="mt-5">
                                        <h5 class="font-size-15"><i class="bx bx-message-dots text-muted align-middle me-1"></i> Comments :</h5>

                                        <div>
                                            <div class="d-flex py-3">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-xs">
                                                        <div class="avatar-title rounded-circle bg-light text-primary">
                                                            <i class="bx bxs-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h5 class="font-size-14 mb-1">Delores Williams <small class="text-muted float-end">1 hr Ago</small></h5>
                                                    <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex py-3 border-top">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-xs">
                                                        <img src="~/assets/images/users/avatar-2.jpg" alt="" class="img-fluid d-block rounded-circle">
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1">
                                                    <h5 class="font-size-14 mb-1">Clarence Smith <small class="text-muted float-end">2 hrs Ago</small></h5>
                                                    <p class="text-muted">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                    </div>

                                                    <div class="d-flex pt-3">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-xs">
                                                                <div class="avatar-title rounded-circle bg-light text-primary">
                                                                    <i class="bx bxs-user"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="flex-grow-1">
                                                            <h5 class="font-size-14 mb-1">Silvia Martinez <small class="text-muted float-end">2 hrs Ago</small></h5>
                                                            <p class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exercise</p>
                                                            <div>
                                                                <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex py-3 border-top">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-xs">
                                                        <div class="avatar-title rounded-circle bg-light text-primary">
                                                            <i class="bx bxs-user"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex-grow-1">
                                                    <h5 class="font-size-14 mb-1">Keith McCoy <small class="text-muted float-end">12 Aug</small></h5>
                                                    <p class="text-muted">Donec posuere vulputate arcu. phasellus accumsan cursus velit</p>
                                                    <div>
                                                        <a href="javascript: void(0);" class="text-success"><i class="mdi mdi-reply"></i> Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <h5 class="font-size-16 mb-3">Leave a Message</h5>

                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentname-input" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="commentname-input" placeholder="Enter name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="commentemail-input" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="commentemail-input" placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label for="commentmessage-input" class="form-label">Message</label>
                                                <textarea class="form-control" id="commentmessage-input" placeholder="Your message..." rows="3"></textarea>
                                            </div>

                                            <div class="text-end">
                                                <button type="submit" class="btn btn-success w-sm">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section scripts{
    <script src="~/assets/js/app.js"></script>
}

